/*Animations*/
.slide-in-right {
    animation: sir 0.5s ease-out;
}
.slide-in-left-2 {
    animation: Asil 0.5s ease-in-out;
}
.slide-in-up {
    animation: Asiu 0.5s ease-in-out;
}
.slide-in-down-info {
    animation: sidi 0.5s ease-in-out;
}
.in-opacity {
    animation: iopac 0.5s ease-in-out;
}

/*Keyframes*/
@keyframes sir {
    from {left: 100px; opacity: 0;}
    to {left: 0px; opacity: 1;}
}
@keyframes Asil {
    from {margin-left: -100px; opacity: 0;}
    to {margin-right: 0; opacity: 1;}
}
@keyframes Asiu {
    from {margin-bottom: -300px; opacity: 0;}
    to {margin-bottom: 0; opacity: 1}
}
@keyframes sidi {
    from {margin-top: -200px; opacity: 0;}
    to {margin-top: 0; opacity: 1}
}
@keyframes iopac {
    from {opacity: 0;}
    to {opacity: 1;}
}
