/* width */
::-webkit-scrollbar {
    width: 5px;
  }
/* Track */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #743834; 
  }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #58221f; 
  }

/*Firefox Custom Scrollbar*/
html, body {
    scrollbar-width: thin;
}