@charset "UTF-8";

/*Default Styles*/

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Montserrat", "Darker Grotesque", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #EEEBDD;
  text-align: left;
  background-color: #EEEBDD;
}

img {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}
div {box-sizing: border-box}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input, select {
  padding: 1em;
  background-color: #5f3e3e;
  color: #ecdfde;
  border-radius: 20px;
  font-size: 14px;
  border: none;
  font-family: "Montserrat";
}

/*Fonts*/
.dongle {
  font-family: "Dongle", "Century Gothic", sans-serif;
}
.dg {
  font-family: "Dark Grotesque", "Century Gothic", sans-serif;
}
.ms {
  font-family: "Montserrat", "Century Gothic", sans-serif;
}

/*Home Styles*/

.main-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 80%;
  background-color: #EEEBDD;
  color: #810000;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  justify-content: center;
  text-align: center;
  padding: 1em;
}
  .head-title {
    font-size: 36px;
  }

.ia-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 1em;
}
  .ia-1 button, .ia-2 button, .ia-3 button {
    cursor: pointer;
    padding: 1em;
    border: none;
    border-radius: 20px;
    background-color: #810000;
    color: #EEEBDD;
  }

.ia-2 {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 3em;
}
  #ia-2-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
  }
  #ia-2-form input {
    border: none;
    border-radius: 20px;
    padding: 1em;
  }

.ia-3 {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 3em;
}
  #ia-3-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
  }
  #ia-3-form input {
    border: none;
    border-radius: 20px;
    padding: 1em;
  }
.footer {
  display: grid;
  align-items: end;
}

/*Dashboard Styles*/
.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 1;
  transition: all 0.5s;
  overflow: hidden;
  padding-right: 1.5em;
}
  .sn-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.5em;
  }
    .sn-btn {
      padding: 1em 2em;
      background-color: transparent;
      text-align: left;
      cursor: pointer;
      font-weight: 500;
      font-size: 15px;  
      border: none;
      font-family: "Montserrat";
      transition: all 0.4s;
      color: #ecdfde;
      border-radius: 0px 20px 20px 0;
    }

    .menu-txt {
      margin: 1em;
      font-weight: bold;
      text-align: left;
    }

.dashboard {
  width: 100%;
  transition: all 0.5s;
}
  .topnav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    display: grid;
    grid-template-columns: 1fr 5fr 3fr;
    z-index: 5;
    transition: all 0.5s;
  }
  .topnav .tn {
    padding: 1em;
  }
      .u-n-btn {
        background-color: transparent;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        align-self: center;
        justify-self: end;
        padding: 0.5em;
        color: #ecdfde;
        transition: all 0.5s;
      }
    .u-prof {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr;
      grid-gap: 1em;
    }
    .u-info {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr;
      align-items: center;
      justify-items: center;
      background-color: transparent;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      padding: 0.5em;
      color: #ecdfde;
    }
    .tn #tn-tt {
      font-size: 16px;
    }
    #sn-op-btn {
      cursor: pointer;
      display: grid;
      grid-template-columns: 1fr 2fr;
      background-color: transparent;
      border: none;
      color: #ecdfde;
      align-items: center;
      font-size: 12px;
      font-family: "Montserrat";
    }
      .logo-2 {
        display: none;
      }

    .user-info-wrapper, .notif-wrapper {
      position: relative;
      top:0;
      right: 0;
      width: inherit;
      float: right;
      color: black;
    }
      .user-info-main, .notif-main {
        position: fixed;
        top: 60px;
        right: 30px;
        padding: 1em;
        width: 25%;
        height: auto;
        font-size: 14px;
        display: none;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1em;
        border-radius: 0px 0px 10px 10px;
        min-width: 300px;
        z-index: 4;
        transition: all 0.5s;
        justify-items: center;
      }
      .ub-btn {
        width: 100%;
        border-radius: 20px;
        border: none;
        padding: 1em;
        cursor: pointer;
        margin-bottom: 10px;
        transition: all 0.5s;
      }
      .uid {
        font-size: 10px;
        color: grey;
      }

  .overview {
    padding: 2em;
    display: none;
  }
  .data-1-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1em;
    padding: 1em;
  }
    .data-1-grid .d1-g {
      padding: 1em;
      border: 2px solid #810000;
      border-radius: 20px;
    }

    .d1-g .d1-g-g{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 3fr 1fr;
      grid-gap: 1em;
      align-items: center;
      justify-items: center;
      text-align: center;
    }
    
    /*Progress Bar - Circle*/
    .pg-b{
      height:100px;
      width: 100px;
      position: relative;
      transform:scale(1);
    }
    .pg-b .inner{
      position: absolute;
      z-index: 6;
      top: 50%;
      left: 50%;
      height: 80px;
      width: 80px;
      margin: -40px 0 0 -40px;
      background: #EEEBDD;
      border-radius: 100%;
     
    }
    .pg-b .number{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      z-index:10;
      font-size:16px;
      font-weight:500;
      color:#630000;
    }
    .pg-b .bar{
      position: absolute;
      height: 100%;
      width: 100%;
      background: #fff;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      clip: rect(0px, 100px, 100px, 50px);
    }
    .circle .bar .pg{
      position: absolute;
      height: 100%;
      width: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      clip: rect(0px, 50px, 100px, 0px);
      background: #810000;
    }
    .circle .left .pg{
      z-index:1;
      animation: left 0.5s linear both;
    }
    @keyframes left{
      100%{
        transform: rotate(180deg);
      }
    }
    .circle .right {
      transform: rotate(180deg);
      z-index:3;
     
    }
    .circle .right .pg{
      animation: right 0.5s linear both;
      animation-delay:0.5s;
    }
    @keyframes right{
      100%{
        transform: rotate(180deg);
      }
    }
  
  .data-2-grid {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
    padding: 1em;
  }
    .d2-g {
      margin-top: 1em;
    }
    .d2-g-t {
      overflow-y: auto;
      height: 150px;
    }
      .d2-g-d {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
      }
    .d2-g-h {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      /*border: 2px solid #630000;*/
      border:none;
      border-radius: 20px;
    }
      .d2-t-h {
        border-radius: 0px;
        background-color: transparent;
        /*border: 2px solid #630000;*/
        border: none;
        transition: all 0.5s;
        cursor: pointer;
        padding: 1em;
        color: #810000;
        font-weight: 500;
      }
      .d2-t-h:hover {
        background-color: #ede3bd;
      }
      .d2th-s {
        border-radius: 5px 0px 0px 0px;
      }
      .d2th-e {
        border-radius: 0px 5px 0px 0px;
      }
    .d2-g-t {
      text-align: center;
      margin: 1em;
    }
  

  .concerns {
    padding: 2em;
    display: none;
  }
    .data-3-grid {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      margin-top: 2em;
      grid-gap: 2em;
    }
    .d3-g-field {
      display: none;
      grid-template-rows: auto auto auto;
      grid-gap: 1em;
    }
    .d3-g-list {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-gap: 0.5em;
    }
      .d3-g-f-r-d {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
      }
      .d3-g-f-r-d input {
        width: 100%;
        padding: 1em;
        border-radius: 20px;
        border: none;
      }
      .d3-g-f-r-d input:disabled, .d3-g-f-r-b textarea:disabled {
        background-color: #fff;
        color: #810000;
      }
      .d3-g-f-r-b textarea {
        width: 100%;
        height: 225px;
        padding: 1em;
        border: none;
      }
      .d3-g-f-r-d-field {
        width: 100%;
      }
        #pv-concern {
          resize: none;
          width: 100%;
          border-radius: 20px;
        }
      .d3-g-item {
        padding: 1em;
        border-radius: 20px;
        font-size: 12px;
        cursor: pointer;
        transition: all 0.5s;
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 0.5fr 0.5fr 1.5fr 1fr;
        justify-items: center;
      }
      .d3-g-label {
        padding: 1em;
        font-size: 12px;
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 0.5fr 0.5fr 1.5fr 1fr;
        font-weight: bold;
        justify-items: center;
      }
      .d3-g-item p {
        margin: 0;
      }
      .d3-g-load, .d3-g-none {
        display: none;
      }

  .admin {
    padding: 2em;
    display: none;
  }
    .data-4-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2em;
    }
    .d4-g-s {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2em;
    }
    .d4-g-uc-btn {
      position: relative;   
    }
    .d4-g-uc-btn button {
      margin-top: 1em;
    }
    .d4-g-uc-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2em;
      margin-top: 1em;
    }
    input[type="file"] {
      position: fixed;
      right: 100%;
      bottom: 100%;
    }
    .custom-file-upload {
      display: inline-block;
      cursor: pointer;
      text-align: center;
    }
    .caa-form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
       "email email"
       "pass cpass"
       "submit clear";
      grid-gap: 1em;
    }
    .caa-form input {
      padding: 1em;
      width: 100%;
      border-radius: 20px;
      border: none;
    }
    .caa-form input[type="button"] {
      cursor: pointer;
    }

    #caa-email {
      grid-area: email;
      margin-top: 1em;
    }
    #caa-pass {
      grid-area: pass;
    }
    #caa-cpass {
      grid-area: cpass;
    }
    #caa-submit {
      grid-area: submit;
    }
    #caa-clear {
      grid-area: clear;
    }

  .sc-form {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin-top: 1em;
  }
  .sc-form input[type="button"] {
    cursor: pointer;
  }
  .sc-form input {
    padding: 1em;
    width: 100%;
    border-radius: 20px;
    border: none;
  }
   
  
  .rsi-form input {
    padding: 1em;
    width: 100%;
    border-radius: 20px;
    border: none;
  }

  .scorn-form {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin-top: 1em;
  }
  .scorn-form input[type="button"] {
    cursor: pointer;
  }
  .scorn-form input {
    padding: 1em;
    width: 100%;
    border-radius: 20px;
    border: none;
  }

  input[type="button"] {
    transition: all 0.5s;
  }

  .settings {
    padding: 2em;
    display: none;
  }
    .settings-main-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
    }
    .smc-grid-1 {
      display: grid;
    }

  .user-unauthorized {
    display: none;
    top: 0;
    left: 0;
    background-color: #810000;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
  }



/*Alert Containers*/
.ac-base {
  position: absolute;
  bottom: 4%;
  left: 2%;
  min-height: 200px;
  min-width: 300px;
  height: 10%;
  width: 30%;
  background-color: #ede3bd;
  color: #810000;
  border-radius: 20px;
  z-index: 6;
  padding: 1em;
  display: none;
  grid-template-rows: 1fr 5fr 1fr;
  transition: all 0.5s;
}
  .ac-b-head {
    font-size: 16px;
  }
  .ac-b-body {
    font-size: 13px;
  }
  .ac-b-footer {
    font-size: 10px;
    align-self: end;
  }
  #ac-title {
    font-weight: 700;
  }
  #ac-close {
    float: right;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #810000;
    transition: all 0.3s;
  }
  #ac-close:hover {
    color: #d1adad;
  }

/*Concerns.html*/
.concern-main-container  {
  font-family: "Montserrat";
  padding: 1.5em;
  width: 85%;
  margin: auto;
  text-align: center;
  position: relative;
}
.concern-preview-container {
  display: none;
}
.concern-main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 3em;
}
  .cmc-head-text {
    text-align: left;
    position: sticky;
    top: 3%;
    align-self: start;
  }
  .cmc-head-text span {
    font-size: 14px;
  }
  .cmc-grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5em;
    margin-top: 2em;
  }
  .cmc-g-c {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    text-align: left;
  }
    .cmc-grid-1 label {
      font-weight: 700;
    }
    .cmc-grid-1 input, .cmc-grid-1 select {
      padding: 1em;
      border-radius: 20px;
      border: none;
      font-family: "Montserrat";
      outline: none;
      transition: all 0.5s;
    }
    .cmc-grid-1 input:focus, .cmc-grid-1 textarea:focus {
      outline: 1px solid #630000;
    }
    .cmc-grid-1 input[name="cn"] {
      background-color: #ebe2b9;
    }
    .cmc-grid-1 input[type="button"] {
      padding: 1em;
      border-radius: 20px;
      border: 1px solid #7e2a2c;
      font-family: "Montserrat";
      cursor: pointer;
      transition: all 0.5s;
      font-weight: 700;
    }
    .cmc-grid-1 input[type="submit"]{
      padding: 1em;
      border-radius: 20px;
      border: none;
      font-family: "Montserrat";
      cursor: pointer;
      transition: all 0.5s;
      font-weight: 700;
    }
    .cmc-grid-1 textarea {
      border-radius: 20px;
      border: none;
      padding: 1em;
      resize: none;
      font-family: "Montserrat";
      outline: none;
      transition: all 0.5s;
    }
    
    .concern-preview-container {
      display: none;
    }
    
    #concern-index {
      margin-top: 2em;
      padding: 1em;
      border: none;
      border-radius: 20px;
      font-family: "Montserrat";
      cursor: pointer;
      transition: all 0.5s;
      font-weight: 700;
    }
    .cmc-head-text button {
      width: 100%;
      padding: 1em;
      border-radius: 20px;
      border: none;
      font-family: "Montserrat";
      cursor: pointer;
      transition: all 0.5s;
      font-weight: 700;
      margin-top: 1em;
    }
    .sn-b2, .sn-b4 {
      display: none;
    }
    .concern-list {
      text-align: left;
      display: none;
    }
    .concern-item, .concern-item-head {
      padding: 1em;
      border-radius: 20px;
      display: grid;
      grid-template-columns: 1.5fr 1fr 2fr;
      justify-items: center;
      grid-gap: 1em;
    }
    .concern-item {
      cursor: pointer;
    }

    .concern-text-preview-opac {
      background-color: rgba(0, 0, 0, 0.8);
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: none;
    }
    .concern-text-preview {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 60%;
      padding: 1.5em;
      border-radius: 20px;
      display: none;
    }
    .ctp-grid {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 2em;
    }
    .concern-text-preview p {
      font-weight: 700;
      margin-bottom: 0.5em;
    }
    .concern-text-preview span {
      font-weight: 400;
    }
    .ctp-g-bi-container {
      margin-top: 1em;
      font-size: 14px;
    }
    .ctp-g-bi-container div, .ctp-g-concern div {
      padding: 0.5em 1em;
      background-color: white;
      color: black;
      border-radius: 20px;
    }
    .ctp-g-concern {
      margin-top: 1em;
      font-size: 14px;
    }
    .ctp-g-concern div {
      height: 300px
    }
    .ctp-concern {
      height: 100%;
      overflow-y: auto;
    }
    .ctp-close, .cpp-close, .flp-close, .dl-close {
      background-color: transparent;
      color: #ffdad4;
      border: none;
      cursor: pointer;
      float: right;
      transition: all 0.5s;
    }
    .ctp-close:hover, .cpp-close:hover, .flp-close:hover {
      color: #e87c78;
    }
    .concerns-list-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-gap: 1em;
    }
    .concern-item p {
      margin: 0;
    }
    .cl-fetch-screen {
      text-align: center;
      display: none;
    }

    .update-cl, .filters-cl {
      padding: 1em;
      border-radius: 20px;
      border: none;
      float: right;
      cursor: pointer;
      transition: all 0.5s;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      margin-left: 1em;
    }
    .update-cl:disabled, .filters-cl:disabled {
      cursor: not-allowed;
    }


  .concern-preview-panel-opac {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 5;
  }
  .concern-preview-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 95%;
    z-index: 6;
    padding: 1.5em;
    border-radius: 20px;
  }

  .pre-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    transition: all 0.5s;
  }
  .pre-loader-txt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /*CPP*/
  .cpp-g-head {
    font-weight: 700;
  }
  .cpp-g-head span {
    font-weight: 400;
  }

  .cpp-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5em;
  }
  .cpp-g-c-d-item:nth-child(1) {
    grid-area: name;
  }
  .cpp-g-c-d-item:nth-child(2) {
    grid-area: email;
  }
  .cpp-g-c-d-item:nth-child(3) {
    grid-area: regnos;
  }
  .cpp-g-c-d-item:nth-child(4) {
    grid-area: cid;
  }
  .cpp-g-c-d-item:nth-child(5) {
    grid-area: cs;
  }
  .cpp-g-c-d-item:nth-child(6) {
    grid-area: cn;
  }
  .cpp-g-c-d-item:nth-child(7) {
    grid-area: cd;
  }
  .cpp-g-c-d-item:nth-child(7) div {
    overflow-y: auto;
    max-height: 150px;
  }
  .cpp-g-c-d-cl {
    overflow-y: auto;
  }
  .cpp-g-con-data {
    display: grid;
    grid-template-areas: 
    "name name" 
    "email email"
    "regnos cid"
    "cs cn"
    "cd cd";
    grid-template-rows: 1fr 1fr 1fr 1fr 150px;
    grid-template-columns: 1fr 1fr;
    /*
    grid-template-columns: repeat(3, 1fr [col1]);
    grid-template-rows: 1fr 1fr 1fr;
    */
    grid-gap: 1em;
  }
  
  .cpp-g-con-actions {
    text-align: center;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: flex-start;
  }
  .cpp-g-c-d-item div, .ctp-g-bi-container div{
    padding: 1em;
    background-color: #201a1a;
    color: #ecdfde;
    border-radius: 20px;
    font-size: 14px;
  }
  .cpp-g-c-d-item p{
    font-weight: 700;
  }
  .cpp-g-c-d-cl {
    height: inherit;
  }
  .cpp-g-c-a-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1em;
  }
  .cpp-g-c-a-grid p {
    font-weight: 700;
  }
  
  .filter-list-panel-opac {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 7;
    width: 100%;
    height: 100%;
    display: none;
  }
  .filter-list-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
    width: 50%;
    height: 70%;
    border-radius: 20px;
    overflow-y: auto;
    
  }
  .flp-head {
    border-radius: 20px 20px 0 0;
    padding: 1em;
    font-weight: 700;
    position: sticky;
    top: 0;
    left: 0;
  }
  .flp-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    grid-gap: 2em;
  }
  .flp-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 0.5em;
    text-align: center;
  }
  .flp-item input {
    text-align: center;
  }
  .flp-item select {
    padding: 1em;
    border-radius: 20px;
    border: none;
    font-family: "Montserrat";
    outline: none;
    transition: all 0.5s;
  }
  .flp-add {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5em;
  }

  .data-lookup-opac {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 7;
  }
  .data-lookup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    padding: 1em;
  }