@charset "UTF-8";

/*Default Styles*/

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Montserrat", "Dongle", "Darker Grotesque", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #EEEBDD;
  text-align: left;
  background-color: #EEEBDD;
}

img {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}
div {box-sizing: border-box}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  font-size: 14px;
}

/*Fonts*/
.dongle {
  font-family: "Dongle", "Century Gothic", sans-serif;
}
.dg {
  font-family: "Dark Grotesque", "Century Gothic", sans-serif;
}
.ms {
  font-family: "Montserrat", "Century Gothic", sans-serif;
}

/*Home*/
.home-main-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-items: center;
}
    .hmd-sub-div {
        padding: 1em;
        text-align: center;
        position: relative;
    }
        /*Side 1*/
        .hmd-sd-btns {
            margin-top: 3em;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
            grid-gap: 1em;
        }
        .hmd-sd-btns button {
            padding: 1em;
            border-radius: 20px;
            outline: none;
            border: none;
            cursor: pointer;
            font-family: "Montserrat";
            transition: all 0.5s;
        }
        /*Side 2*/
        .hmd-sd-inputs {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1fr 0.5fr 1fr 1.5fr;
            grid-gap: 0.5em;
        }
            .hmd-sd-inputs input {
                border: none;
                outline: none;
                border-radius: 25px;
                padding: 1em;
                text-align: center;
            }
        .faculty-in-form {
          display: none;
        }

/*Dashboard.html*/
.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.db-sidenav {
  padding: 1em;
  height: 100%;
}
.db-m-topnav {
  padding: 1em;
}
.db-m-content {
  padding: 1em;
}
.db-main {
  display: grid;
  grid-template-rows: 50px auto;
  grid-gap: 1em;
}